*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
	width:90%;
}
.section1{
	display:flex;
	height:200px;
	background:#B4EAE6;
	width:111%;
}
.part{
	margin-left:180px;
	margin-top:50px;
}
.part h1{
	font-size:40px;
	text-align:center;
	color:#0B4775;
	font-family: system-ui;
}
.part p{
	font-size:20px;
	text-align:center;
	color:#0B4775;
}
.section2{
	display:flex;
}
.image{
	width:45%;
	margin-top:50px;
	margin-left:130px;
}
.image img{
	width:500px;
	height:400px;
}
.content{
	width:45%;
	margin-top:50px;
}
.head h2{
	font-size:25px;
	font-weight:bold;
	color:#0B4775;
}
.head p{
	font-size:18px;
	font-style:italic;
	padding-top:15px;
}
.content li{
	list-style-type:none;
	padding-top:10px;
}
.content li i{
	padding-right:10px;
	color:#33A0F4;
}
.content p{
	padding-top:15px;
	font-size:15px;
	line-height:22px;
}