*{
	margin:0;
	padding:0;
	border-box:box-sizing;
}

.container{
    width:90%;
	margin:auto;
}
.head{
	width:100%;
}
.logo h1{
	font-size:25px;
	margin-left:30px;
	
}
.header-flex{
	display:flex;
	justify-content:space-between;
}
.header{
  height:80px;
  line-height:80px;
  background-color:#CCE0E8;

}
.navbar li{
	list-style-type:none;
	padding-right:20px;
	font-size:17px;
	display:inline-block;
}
.header-flex .navbar button{

	border:none;
	border-radius:6px;
	background-color:#D2DADD;
	color:#077CB7;
	padding:15px 10px 15px 10px;
}

.banner h2{
	font-size:35px;
	font-weight:bold;
	text-align:center;
	margin-right:20px;
	margin-top:20px;
	color:#2B4263;
}
.banner p{
	font-size:25px;
	text-align:center;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:15px;
	color:#2B4263;
}
.banner button{
	font-size:15px;
	border:none;
	width:120px;
	height:35px;
	border-radius:7px;
	background-color:#0963EA;
	color:white;
	text-align:center;
	margin-left:580px;
}
.banner img{
	width:500px;
	margin-left:400px;
	margin-top:30px;
}