.container{
    width: 1300px;
}
.head{
	display:flex;
	width:1350px;
	margin-top:-8px;
	background-color:#DEECF2;
}
.logo h1{
	margin-left:30px;
	padding-top:5px;
}
.navbar{
	display:flex;
	margin-top:30px;
	margin-left:500px;
}
.navbar li{
	list-style-type:none;
	padding-right:20px;
	font-size:17px;
}
.navbar button{
	margin-bottom:20px;
	width:120px;
	height:30px;
	margin-top:-5px;
	border:none;
	border-radius:6px;
	background-color:#8DC9E8;
	color:#077CB7;
}

.banner h2{
	font-size:35px;
	font-weight:bold;
	text-align:center;
	margin-right:40px;
	color:#2B4263;
}
.banner p{
	font-size:25px;
	text-align:center;
	margin-right:40px;
	margin-top:-10px;
	color:#2B4263;
}
.banner button{
	font-size:15px;
	border:none;
	width:120px;
	height:35px;
	border-radius:7px;
	background-color:#0963EA;
	color:white;
	text-align:center;
	margin-left:570px;
}
.banner img{
	width:500px;
	margin-left:400px;
	margin-top:30px;
}